body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
.page-head {
  background-color: #ffffff;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-studio {
  color: #2e2f42;
}
.page-nav {
  color: #2e2f42;
  font-style: normal;
}
.nav-studio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#2e2f42;
}
.nav-studio:hover, :focus{
  color: #404bbf;
}

.nav-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#2e2f42;
}
.nav-portfolio:hover,
:focus {
  color: #404bbf;
}
.nav-contacts {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#2e2f42;
}
.nav-contacts:hover,
:focus {
  color: #404bbf;
}

.page-contacts {
  font-style: normal;
}
.page-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.page-mail:hover, :focus {
  color: #404bbf;
}
.page-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.page-tel:hover,
:focus {
  color: #404bbf;
}

.page-solutions {
  background-color: #2e2f42;
}

.page-title {
  color: #fff;
  background-color: #2e2f42;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.page-button {
  color: #fff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.page-button:hover,
:focus {
  color: #404bbf;
}

.no-title {
  display: none;
}

.page-info {
  background-color: #fff;
}
.page-section-srategy {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.page-text-strategy {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.page--section-punctualily {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.page-text-punctualily {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.page-section-diligence {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.page-text-diligence {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.page-section-tech {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.page-text-tech {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-section {
  background-color: #f4f4fd;
}
.team-title {
  color: #2e2f42;
  background-color: #fff;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.about-mark {
  background-color: #ffffff;
}
.marcs-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.marcs-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.toms-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.toms-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.camilas-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.camilas-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.daniels-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.daniels-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.bank-app {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.bank-app-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.cash-payment {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.cash-payment-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.medit-app {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.medit-app-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.taxi-serv {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.taxi-serv-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.screen-illistr {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.screen-illistr-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.online-cours {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.online-cours-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.page-bottom {
  background-color: #2e2f42;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-studio-bottom {
  color: #f4f4fd;
}
.page-bottom-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
